@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#ARButton {
  color: black !important;
  width: 10em !important;
  font-size: 4em !important;
  padding: 0.5em !important;
  left: calc(50% - 5em) !important;
}